In [82]:
import pandas as pd 
import seaborn as sns

In [38]:
data = pd.read_excel("Amazon.xlsx")

In [39]:
data.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57
1,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63

In [40]:
def call_type_sep(x):
    x = x.split(',')
    return x[0]

In [41]:
call_type_sep("Subham:kumar")

'Subham:kumar'

In [42]:
data["Product_Name"] = data["Product Name"].apply(call_type_sep)

In [44]:
data["Product_Name"].head(10)

0    Plantronics CS510 - Over-the-Head monaural Wir...
1                   Novimex Executive Leather Armchair
2                                    Nokia Smart Phone
3                                 Motorola Smart Phone
4                                   Sharp Wireless Fax
5                                  Samsung Smart Phone
6                   Novimex Executive Leather Armchair
7                          Chromcraft Conference Table
8    Fellowes PB500 Electric Punch Plastic Comb Bin...
9    Chromcraft Bull-Nose Wood Oval Conference Tabl...
Name: Product_Name, dtype: object

Converting timestamp to pandas datetime

In [47]:
data['timeStamp'] = pd.to_datetime(data['Order Date'], infer_datetime_format=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_1944\1053468412.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data['timeStamp'] = pd.to_datetime(data['Order Date'], infer_datetime_format=True)

In [48]:
data['timeStamp'].head()

0   2012-07-31
1   2013-02-05
2   2013-10-17
3   2013-01-28
4   2013-11-05
Name: timeStamp, dtype: datetime64[ns]

Extract year, month_name, day_name, hour of the day from timestamp column.

In [49]:
data['year'] = data['timeStamp'].dt.year

In [93]:
data['Year']= data['timeStamp'].dt.year

In [95]:
data['Y']= pd.to_datetime(data["Year"], format="%Y")

In [96]:
data['Y']

0     2012-01-01
1     2013-01-01
2     2013-01-01
3     2013-01-01
4     2013-01-01
         ...
823   2013-01-01
824   2014-01-01
825   2012-01-01
826   2013-01-01
827   2012-01-01
Name: Y, Length: 828, dtype: datetime64[ns]

In [50]:
data['Month']= data['timeStamp'].dt.month

In [51]:
data['day']= data['timeStamp'].dt.day

In [52]:
data['Hour']= data['timeStamp'].dt.hour

In [53]:
data.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Customer Type', 'City', 'State', 'Country',
       'Product Type', 'Product', 'Product Name', 'Sales', 'Quantity',
       'Discount', 'Profit', 'Shipping Cost', 'Product_Name', 'timeStamp',
       'year', 'Month', 'day', 'Hour'],
      dtype='object')

In [77]:
Product_name = data["Product_Name"].value_counts()

In [79]:
Product_name_Percentage =Product_name.groupby(level=0).apply(lambda x: round(100*x/float(x.sum())))

In [81]:
Product_name_Percentage.head()

Product_Name                        Product_Name
3D Systems Cube Printer             3D Systems Cube Printer               100.0
Acme Trimmer                        Acme Trimmer                          100.0
Adjustable Depth Letter/Legal Cart  Adjustable Depth Letter/Legal Cart    100.0
Apple Audio Dock                    Apple Audio Dock                      100.0
Apple Signal Booster                Apple Signal Booster                  100.0
Name: count, dtype: float64

In [74]:
product_sales = data.groupby(["Month","State","Product"])["Sales"].sum()
product_sales

Month  State              Product
1      Ardabil            Phones        2021.880
       Baki               Tables        2058.000
       Beijing            Chairs        2301.000
       Benguela           Bookcases     2478.600
       Berlin             Phones        2892.510
                                          ...
12     Wellington         Bookcases      877.020
       Western Australia  Chairs        4099.680
                          Phones        1725.462
       Wisconsin          Chairs        4759.680
       Yamaguchi          Appliances    3242.880
Name: Sales, Length: 786, dtype: float64

In [ ]:
sns.set(rc={'figure.figsize':(12, 8)})
Product_name_Percentage.unstack().plot(kind='bar')

Hourly Data

In [85]:
hours_data = data.groupby(["Hour","Profit"])["Profit"].sum()

In [86]:
hours_data_percentage = hours_data.groupby(level=0).apply(lambda x: round(100*x/float(x.sum())))

In [ ]:
sns.set(rc={'figure.figsize':(18, 8)})
hours_data_percentage.unstack().plot(kind='bar')
# plt.xlabel('Hour of the day', fontdict=font)
# plt.ylabel('Percentage of Calls', fontdict=font)
# plt.xticks(rotation=0)
# plt.title('Calls/Hour', fontdict=font)